.theory {
	font: 20px 'HelveticaNeue',sans-serif;
	background: #ffffff;
}
.top-header {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 20vh;
	color: #353535;
	padding-top: 20px;	
	padding-bottom: 30px;
	font-size: 2.4em;
	font-weight: 100;
	font-style: italic;
}
.topics-list{
	width: 100%;
	max-height: 80vh;
	overflow-y: scroll;
}
.topic-wrapper {
	transition: all 0.1s linear;
	border-bottom: 1px solid #aaa;
	position: relative;
	font-weight: normal;
	font-size: 22px;
	width: 100%;
	padding-left: 70px;
	display: flex;
	align-items: center;
	height: 50px;
}
.topic {
	padding: 10px;
	cursor: pointer;
}
.topic:hover {
	background: #efefef;
}
.passed-topic {
	color: #4dbd28;
}
.topic:hover .passed-topic {
	color: #3c931f;
}
.opened-topic {
	color: #4dbd28;
}
.topic:hover .opened-topic {
	color: #3c931f;
}
.closed-topic {
	color: #D3D3D3;
}
.closed-topic:hover {
	color: #989898;
}
.topic-star {
	position: absolute;
	left: 10px;
	top: 50%;
	color: #dcb042;
	transform: translateY(-50%) rotate(15deg);
	font-size: 35px;
}
.theory-topic {
	overflow-y: scroll;
	overflow-x: hidden;
}
.theory-topic > .wrapper {
	padding-top: 30px;
	overflow-y: visible;
}
.topic-title {
	font-size: 2em;
	text-align: center;
	color: #0652DD;
	padding-bottom: 30px;
	font-style: italic;
}
.topic-undertitle {
	font-weight: bold;
	font-style: italic;
	padding: 10px 10px;
	width: 75%;
	margin: auto;
}
.topic-paragraph {
	font-size: 1.3em;
	width: 100%;
	font-weight: 200;
	padding: 10px 0px;
}
.topic-paragraph.right {
	text-align: right;
	padding-left: 30%;
}
.topic-paragraph.left {
	text-align: left;
	padding-right: 30%;
}
.topic-paragraph.center {
	text-align: center;
	padding: 10px 15%;
}
.topic-paragraph.justify {
	text-align: justify;
	padding: 10px 15%;
}
.topic-hr {
	height: 1px;
	margin: 10px 0px;
	background: #0652DD;
}
.topic-listitem {
	position: relative;
	width: 75%;
	margin: auto;
	padding: 5px 10px 5px 30px;
	font-size: 0.9em;
	color: #0632aD;
	text-align: justify;
	font-style: italic;
	list-style: none;
	font-weight: 400;
}
.topic-listitem::before {
	background: #0652DD;
	display: block;
	content: '';
	position: absolute;
	left: 15px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	top: 13px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}